<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Menu</title>
    <style>
        body {
            /* background-image: url(./images/background.png); */
            background-repeat: no-repeat;
            width: 100%;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            background-size: cover;
        }

        header {
          position:relative;
          /* margin-top: 50px; */
            background-color: rgb(181, 116, 20);
            color:black;
            text-align: center;
            padding: 1em;
        }
        .navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 00px;
  z-index: 9;
  font-weight: bold;
  background-color: black;
  font-size: 1em;
}
.logo {
  width: 50%;
  position: absolute;
  left: 5%;
  width: fit-content;
  height: 4rem;
  border-radius: 90%;
}
.nav-links {
  width: 50%;
  display: flex;
  padding-left: 50%;
  justify-content: space-evenly;
  list-style: none;
  /* overflow-x:hidden ; */
}
.links {
  color: rgb(181, 116, 20);
  text-decoration: none;
  text-transform: capitalize;
}
.links:hover {
  color: rgb(239, 16, 16);
}
        section {
          position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 20px;
        }

        .menu-item {
            width: 300px;
            margin: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            overflow: hidden;
            background-color: #fff;
            transition: transform 0.3s ease;
        }

        .menu-item:hover {
            transform: scale(1.05);
        }

        img {
            width: 300px;
            height:200px;
        }

        .item-info {
            padding: 10px;
        }

        h3, p {
            margin: 0;
        }
        /* #img{
            height: 100;
            width: 100;
        } */
        @media only screen and (max-width: 600px) {
            .menu-item {
                width: calc(100% - 40px);
            }
        }
    </style>
</head>
<body>
    
    <nav class="navbar">
        <img src="./images/logo.jpg" class="logo" />
        <ul class="nav-links">
          <li class="nav-items"><a href="/" class="links">Home</a></li>
          <li class="nav-items"><a href="./about" class="links">About Us</a></li>
          <li class="nav-items"><a href="#" class="links">Restaurants</a></li>
          <li class="nav-items"><a href="./food" class="links">Menu</a></li>
          <li class="nav-items"><a href="./contact" class="links">Track order</a></li>
        </ul>
    </nav>
    <header>
        <h1>Restaurant Menu</h1>
    </header>

    <section id="menu-container">
        <!-- Menu items will be dynamically added here using JavaScript -->
    </section>

    <script>
        // Sample menu data (you can replace it with your actual menu data)
        const menuData = [
            { name: 'Burger', description: 'Lorem ipsum dolor sit amet.', price: 'Rs.189', image: '/Images/burger.jpg' },
            { name: 'Noodles', description: 'Consectetur adipiscing elit.', price: 'Rs.289', image: '/Images/noodles.jpg' },
            { name: 'Sandwitch', description: 'Pellentesque habitant morbi tristique senectus.', price: 'Rs.399', image: '/Images/sandwitch.jpg' },
            { name: 'Spring roll', description: 'Pellentesque habitant morbi tristique senectus.', price: 'Rs.399', image: '/Images/springroll.jpg' },
            { name: 'Pizza', description: 'Pellentesque habitant morbi tristique senectus.', price: 'Rs.399', image: '/Images/pizza.jpg' },
            { name: 'Veg Chowmein', description: 'Pellentesque habitant morbi tristique senectus.', price: 'Rs.359', image: '/Images/chow mein.jpg' },
            { name: 'Pasta', description: 'Pellentesque habitant morbi tristique senectus.', price: 'Rs.259', image: '/Images/pasta.jpg' },
            { name: 'Shangai Roll', description: 'Pellentesque habitant morbi tristique senectus.', price: 'Rs.189', image: '/Images/shangai roll.jpg' },
            { name: 'momos', description: 'Pellentesque habitant morbi tristique senectus.', price: 'Rs.259', image: '/Images/momos.jpg' },
        ];

        const menuContainer = document.getElementById('menu-container');

        // Function to generate HTML for each menu item
        function generateMenuItem(item) {
            return `
                <div class="menu-item">
                    <img src="${item.image}" alt="${item.name}">
                    <div class="item-info">
                        <h3>${item.name}</h3>
                        <p>${item.description}</p>
                        <p>${item.price}</p>
                    </div>
                </div>
            `;
        }

        // Add menu items to the menu container
        menuData.forEach(item => {
            const menuItemHTML = generateMenuItem(item);
            menuContainer.innerHTML += menuItemHTML;
        });
    </script>

</body>
</html>