<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
        <title>food</title>
        <link rel="stylesheet" href="stylesheets/style1.css">
    </head>
    <body>
        <div class="main">
            <div class="wrapper">
                <div class="header">
                    <nav>

                        <div class="logo">
                            <a href="">JFOOD</a>
                        </div>
                        <ul>
                            <li><a href="./">HOME</a></li>
                            <li><a href="./about">ABOUT</a></li>
                            <li><a href="./food">FOOD</a></li>
                            <li><a href="./review">REVIEWS</a></li>
                            <!-- <li><a href="">SERVICES</a></li> -->
                            <li><a href="./contact">CONTACT</a></li>
                        </ul>
                    </nav>
                    <div class="img"></div>
                    <div class="over lay">
                    <div class="content">
                        <h1>WELCOME TO <br> JFOOD</h1>
                        <h2 style="color: rgb(238, 34, 34);">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi aliquam dolor iusto fuga omnis inventore sapiente corrupti, aliquid temporibus ipsam, non, ratione provident veritatis repudiandae voluptatum est molestiae natus quas.</h2>
                        <button>ORDER NOW</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>