<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<title>Responsive Card Slider</title>-->

    <!-- Swiper CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

      * {
        margin: 0;
        padding: 0;
        /* box-sizing: border-box; */
        font-family: "Poppins", sans-serif;
      }
      body {
        min-height: 80vh;
        background-image: linear-gradient(
    to bottom right,
    rgb(168, 201, 211) 40%,
    #32cdc8 150%
  );
    
      }
      .slide-container {
        max-width: 1120px;
        width: 100%;
        padding: 40px 0;
      }
      .slide-content {
        margin: 0 40px;
        overflow: hidden;
        border-radius: 25px;
      }
      .card {
        border-radius: 25px;
        background-color: #fff;
      }
      .image-content,
      .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 14px;
      }
      .image-content {
        position: relative;
        row-gap: 5px;
        padding: 25px 0;
      }
      .overlay {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #4070f4;
        border-radius: 25px 25px 0 25px;
      }
      .overlay::before,
      .overlay::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -40px;
        height: 40px;
        width: 40px;
        background-color: #4070f4;
      }
      .overlay::after {
        border-radius: 0 25px 0 0;
        background-color: #fff;
      }
      .card-image {
        position: relative;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background: #fff;
        padding: 3px;
      }
      .card-image .card-img {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid #4070f4;
      }
      .name {
        font-size: 18px;
        font-weight: 500;
        color: #333;
      }
      .description {
        font-size: 14px;
        color: #707070;
        text-align: center;
      }
      .button {
        border: none;
        font-size: 16px;
        color: #fff;
        padding: 8px 16px;
        background-color: #4070f4;
        border-radius: 6px;
        margin: 14px;
        cursor: pointer;
        transition: all 0.3s ease;
      }
      .button:hover {
        background: #265df2;
      }

      .swiper-navBtn {
        color: #6e93f7;
        transition: color 0.3s ease;
      }
      .swiper-navBtn:hover {
        color: #4070f4;
      }
      .swiper-navBtn::before,
      .swiper-navBtn::after {
        font-size: 35px;
      }
      .swiper-button-next {
        right: 0;
      }
      .swiper-button-prev {
        left: 0;
      }
      .swiper-pagination-bullet {
        background-color: #6e93f7;
        opacity: 1;
      }
      .swiper-pagination-bullet-active {
        background-color: #4070f4;
      }

      @media screen and (max-width: 768px) {
        .slide-content {
          margin: 0 10px;
        }
        .swiper-navBtn {
          display: none;
        }
      }
      footer {
        background: linear-gradient(to bottom, #222222, #333333);
        padding: 63px 0;
        color: #ffffff;
        width: 100%;
        height: 100%;
      }

      .container {
        max-width: 1200px;
        margin: 0 auto;
      }

      .footer-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 30px;
      }

      .footer-column {
        padding: 10px;
      }

      .footer-column h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
      }

      .footer-column a {
        color: inherit;
        text-decoration: none;
        display: block;
        line-height: 1.5;
        transition: all 0.2s ease;
      }

      .footer-column a:hover {
        color: #f1f1f1;
      }

      .social-media {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .social-media li {
        margin-right: 10px;
        margin-bottom: 10px;
      }

      .social-media li a {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: inherit;
        transition: all 0.2s ease;
      }

      .social-media li a:hover {
        color: #f1f1f1;
      }

      .social-media li i {
        margin-right: 5px;
        font-size: 20px;
      }

      .legal-links,
      .contact-info {
        list-style: none;
        padding: 0;
      }

      .contact-info li {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
      }

      .contact-info li i {
        font-size: 16px;
        margin-right: 10px;
      }

      .copyright {
        text-align: center;
        font-size: 14px;
        padding-top: 20px;
        border-top: 1px solid #444444;
      }
      .navbar {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 00px;
        z-index: 9;
        font-weight: bold;
        background-color: black;
        font-size: 1em;
      }
      .logo {
        width: 50%;
        position: absolute;
        left: 5%;
        width: fit-content;
        height: 4rem;
        border-radius: 90%;
      }
      .nav-links {
        width: 50%;
        display: flex;
        padding-left: 50%;
        justify-content: space-evenly;
        list-style: none;
        /* overflow-x:hidden ; */
      }
      .links {
        color: rgb(181, 116, 20);
        text-decoration: none;
        text-transform: capitalize;
      }
      .links:hover {
        color: rgb(239, 16, 16);
      }
    </style>
  </head>

  <body>
    <nav class="navbar">
      <img src="./images/logo.jpg" class="logo" />
      <ul class="nav-links">
        <li class="nav-items"><a href="/" class="links">Home</a></li>
        <li class="nav-items"><a href="./about" class="links">About Us</a></li>
        <li class="nav-items">
          <a href="./restaurant" class="links">Restaurants</a>
        </li>
        <li class="nav-items">
          <a href="./testimonials" class="links">Testimonials</a>
        </li>
      </ul>
    </nav>
    <div class="slide-container swiper">
      <div class="slide-content">
        <div class="card-wrapper swiper-wrapper">
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="Images/KL-Rahul.jfif" alt="Kl-Rahul" class="card-img" />
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">KL-Rahul</h2>
              <p class="description"> "food is excellent, absolutely delicious, best breakfast and pizza and the services are also good."</p>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="Images/sri-ram.jfif" alt="sisriram" class="card-img" />
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">Sid Sriram</h2>
              <p class="description">
                "The Food we had enjoyed at the time of dinner. It was really
                delicious taste with great quality, everything had unique taste
                which we had ordered, nice arrangement and services from the
                staff while eating, we found nothing bad about this service"
              </p>
            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="Images/Rishaba.jfif" alt="Rishab Shetty" class="card-img" />
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">Rishab Shetty</h2>
              <p class="description"> "Freshness, variety, quality and impeccable service I will
                certainly order again".</p>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-button-next swiper-navBtn"></div>
      <div class="swiper-button-prev swiper-navBtn"></div>
      <div class="swiper-pagination"></div>
    </div>
    <footer>
      <div class="container">
        <div class="footer-grid">
          <div class="footer-column">
            <h3>Navigation</h3>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="./about">About Us</a></li>
              <li><a href="#">Restaurants</a></li>
              <li><a href="./food">Menu</a></li>
              <li><a href="./contact">Testimonials</a></li>
            </ul>
          </div>

          <div class="footer-column">
            <h3>Social Media</h3>
            <ul class="social-media">
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <i class="fa fa-facebook"></i>
                  <span>Facebook</span>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/" target="_blank">
                  <i class="fa fa-instagram"></i>
                  <span>Instagram</span>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/" target="_blank">
                  <i class="fa fa-twitter"></i>
                  <span>Twitter</span>
                </a>
              </li>
            </ul>
          </div>

          <div class="footer-column">
            <h3>Legal</h3>
            <ul class="legal-links">
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>

          <div class="footer-column">
            <h3>Contact</h3>
            <ul class="contact-info">
              <li><i class="fa fa-phone"></i> +1 234 567 890</li>
              <li><i class="fa fa-envelope"></i> info@jfood.com</li>
              <li>
                <i class="fa fa-map-marker"></i> 123 Main Street, City, State
                12345
              </li>
            </ul>
          </div>
        </div>

        <div class="copyright">&copy; 2023 JFOOD. All rights reserved.</div>
      </div>
    </footer>
  </body>

  <!-- Swiper JS -->
  <script src="//cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/swiper-bundle.min.js"></script>

  <!-- JavaScript -->
  <!--Uncomment this line-->
  <script src="//cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/script.js"></script>
  <script>
    var swiper = new Swiper(".slide-content", {
      slidesPerView: 1,
      spaceBetween: 25,
      loop: true,
      centerSlide: "true",
      fade: "true",
      grabCursor: "true",
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
        dynamicBullets: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },

      breakpoints: {
        0: {
          slidesPerView: 1,
        },
        520: {
          slidesPerView: 1,
        },
        950: {
          slidesPerView: 1,
        },
      },
    });
  </script>
</html>
